﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="title" style="width:100%">
        <img class="library_icon" src="~/icons/library-building.png" alt="library_img" align="left" />
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="col-lg-12 bg-dark" style="margin-top:40px">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <span style="color:aliceblue">Bohdan Marii </span>
            <span style="color:aliceblue">bohdan.marii.ki.2018@lpnu.ua </span>
            <span style="color:aliceblue"> © 2021 All Rights Reserved </span>
            <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        </div>
    </footer>

    @Scripts.Render("~/Scripts/script.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @RenderSection("scripts", required: false)
</body>
</html>
