﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align:center;
}
html, body {
    margin: 0;
    padding: 0;
}
.title{
    margin-top:40px;
}
.collapse navbar-collapse {
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 75px;
}
.span{
    font-size:20px !important;
    color:aliceblue !important;
}
.source-body {
    display: flex;
    flex-direction:row;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:75px;
}
.col-7 {
    background-color: white !important;
    text-indent: 1.5em;
    text-align: justify;
    font-size: 30px;
    word-wrap: break-word;
    width: 65%;
    height: 1200px;
    overflow-y: scroll;
}
.right-sidebar {
    justify-content:center;
    font-size: 50px;
    width: 35%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.library_icon{
    margin-top:-20px;
    width:75px;
    height:75px;
}


span:hover {
    filter: brightness(1.5) !important;
}

#myBtn {
    margin-top: 10px;
    width: 100px;
    background-color: lightslategray; 
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px;
}

    #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
